.product-main{
display :flex;
margin:100px;
flex-wrap: wrap;
border-radius: 10px;
border:1px solid rgb(128, 128, 128,0.8);
}
/* left side products */
.left-side{
min-width: 45%;
padding:10px;
display:flex;
justify-content: space-around;

}
.left-side img{
    max-width:80%;
   max-height: 600px;
 padding: 10px;
 /* object-fit: cover;  */


}

/* right side product */
.right-side{
   width:40%;
   padding: 50px;
   
}
.right-side .product-header{
    width: 300px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

 
}
.right-side .product-price{
    color:cornflowerblue;
    font-weight: 600;
    font-size: 18px;
}
.right-side .product-desc{
    /* min-width:  200px; */
    /* max-width:  350px; */
    width:90%;
    line-height: 1.8rem;
    color:grey;
    font-size: 14px;
}
.right-side h2{
    text-align: left;
    text-transform: capitalize;
    color:grey;
    width: 300px;
}

/* product-colors */
.product-colors{
    display: flex;
    justify-items: flex-start;
    min-width: 500px;
    flex-wrap: wrap;
    width: 60%;
   
}
.product-color{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-left: 6px;
    text-align: center;
    font-size: 18px;
    padding:2px;
    border:2px solid grey;

}
.product-size:hover{
    border: 2px solid red;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}

/* product-images */
.product-images{
    display: flex;
  

    max-width: 500px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
}
.product-images .product-image {
 width:100px;
 height:100px;
 margin-left:8px;
 border:1px solid gray;
 object-fit: cover;
    
}

.product-images .product-image:hover{
    border:1px solid red;
}

/* product-size */
.product-size{
    width: 40px;
    height: 40px;
     border:2px solid green;
    margin-left: 6px;
    text-align: center;
    font-size: 18px;
    padding:2px;
    text-transform: capitalize;
}
.product-size:hover{
    border:2px solid red;
}
@media only screen and (max-width :1000px){
    .product-main{
        flex-direction: column;
       
    }
    
    .left-side{
        width: 100%;
    }
    .right-side{
        width: 100%;
    }
    .product-image{
        max-width: 80px;
    }
  
}