.card-main {
    height: 300px;
    width: 350px;
    text-transform: capitalize;
    margin: 8px;
    z-index: 0;
    overflow: hidden;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;

}

.card-details {
    position: absolute;
    bottom: -130px;
    width: 100%;
    height: 180px;
    background-color: rgba(170, 29, 0);

    color: #fff;
    z-index: 2;
    transition: 0.5s;
    background-size: contain;
}
.card-button{
    text-transform:capitalize;
    text-decoration: none;
    position: relative;
    left: 20%;
    color:white;
    font-weight: bold;
    margin-top:10px;
    visibility: hidden;
    opacity: 0;
}
.card-price{
    height:20px;
    visibility: hidden;
    opacity: 0;
    margin-left: 10px;
}

.card-details:hover {
    position: absolute;

    bottom: 0px;
    background-color: rgba(255, 3, 3, 0.6);
    z-index: 1;
}
.card-details:hover .card-price {
    visibility: visible;
    opacity: 1;
}
.card-details:hover .card-button {
    visibility: visible;
    opacity: 1;
}