@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


.center {
	position: absolute;
	top: 450px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	/* height: 90%; */
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
    padding: 20px ;
   
}

.title {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #f2f2f2;
	text-align: center;
	

}

h1 {
	font-size: 28px;


}

.dropzone {
	width: 100px;
	height: 80px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}

.upload-icon {
	margin: 25px 2px 2px 2px;
}

.upload-input {
	position: relative;
	/* top: -62px; */
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.btnx {
	display: block;
	width: 140px;
	height: 40px;

	color: #fff;
	border-radius: 3px;
	border: 0;
	
	transition: all 0.3s ease-in-out;
	font-size: 14px;
}

input:invalid ~ .invalid-feedback{
	display: block;
	font-size: 14px;
	font-weight: bold;
	background-color: red;
	padding: 4px;
	width:fit-content;
	color:#f2f2f2
   
}
input:valid ~ .valid-feedback{
	display: block;
	font-weight: bold;
	font-size: 14px;
	color:#f2f2f2
}
.label{
	font-size: 20px;
}
.product{
	position: relative;

	/* margin-top: 180px; */
	margin-bottom: 10px;
	/* top: 450px; */
	
	/* transform: translate(-50%, -50%); */
	width: 60%;
 /* height: 94vh;  */
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	/* display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column; */
   /* padding: 20px ; */
}
.product-table{
	background-color:rgb(53,140,250,1);
	color:#f2f2f2;
	border-radius:20px;
	position: absolute;
	/* left:200px; */
	right:20%;
	left:20%;
	top:150px;
	padding:40px;
	/* margin-left: 20%; */
	/* margin-right: 20%; */
}
/* @media (maxWidth:700px) {
	.product{
		display: flex;
		flex-direction: column;
	}
} */